<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Beach</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-JZR6Spejh4U02d8jOt6vLEHfe bg-dark">
      <a class="navbar-brand" href="{{url_for('hello')}}">Home Page</a>
    </nav>

    <h1>This is a simple test app!</h1><br>
    <br>
    <br>
    <p>  -Hosted on Google cloud by Altmash</p>

  </body>
</html>
